# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment variables
.env

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
